COMPOSE_PROJECT_NAME="tbank-exporter"

HTTP_HOST="0.0.0.0"
HTTP_PORT="8080"
HTTP_DOCUMENT_ROOT="public"

API_URL_REST="https://invest-public-api.tinkoff.ru"
API_URL_WS="wss://invest-public-api.tinkoff.ru/ws"
API_TOKEN=""
API_TICKERS="GOLD:BBG00V9V16J8|AKGD:BBG014M8NBM4|TGLD:TCS10A101X50|SBGD:BBG019HZM0H0|GAZP:BBG004730RP0|XAU:BBG0013HGFZ7|GLDRUB_TOM:BBG000VJ5YR4|TMOS:BBG333333333"
API_ACCOUNT=""

METRICS_PORTFOLIO="portfolio"
METRICS_PRICE="price"
METRICS_POSITIONS_COUNT="positions_count"
METRICS_POSITIONS_PRICE="positions_price"
METRICS_ORDER_COUNTS="order_counts"
METRICS_ORDER_TOTALS="order_totals"

SYS_TIMEZONE="Europe/Moscow"
SYS_MEMORY_LIMIT="4096M"

DEBUG="false"
AMP_DEBUG="false"
